*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.seventhbanner{
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/public/Desktop-ModelY.jpg');
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
}

.seventh-banner-info{
    width: 30%;
}

.seventh-banner-info> h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-top:370px;
    font-size: 35px;
}

.accessories{
    width:90%;
}

.seventh-banner-info> button{
    font-family: 'Montserrat', sans-serif;
    width:100%;
    height:40px;
    border-radius: 5px;
    border:none;
    background-color: black;
    color:white;
    font-size: 15px;
    margin-top: 40px;
    cursor: pointer;
}

@media screen and (max-width:1300px) {
    .seventh-banner-info{
        width:80%;
    }

    .seventh-banner-info > h1{
        font-size: 40px;
    }

    .seventh-banner-info > button{
        width:50%;
    }
}

@media screen and (max-width:900px),(max-width:1000px) {
    .seventhbanner{
        background-image: url('/public/Desktop-ModelY.jpeg');
        height: 100vh;
        background-size: 100% 100%;
        padding-bottom: 100px;
    }

    .seventh-banner-info{
        width:80%;
        margin-top: 500px;
    }

    .seventh-banner-info > h1{
        font-size: 40px;
    }

    .seventh-banner-info > button{
        width:60%;
    }
}

@media screen and  (max-width:400px), (max-width:500px),(max-width:600px) {
    .seventhbanner{
        background-image: url('/public/Desktop-ModelY.jpeg');
    }

    .seventh-banner-info{
        margin-top: 350px;
    }

    .seventh-banner-info > h1{
        margin-top: 0px;
        font-size: 25px;
    }

    .seventh-banner-info > button{
        width:200px;
    }
}

@media screen and (max-width:300px) {
    .seventh-banner-info > h1{
        font-size: 21px;
    }
}


