.SecondtButton{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 350px;
}

.second-customOrder{
    font-family: 'Montserrat', sans-serif;
    width:30%;
    height:40px;
    border-radius: 5px;
    border:none;
    background-color: black;
    color:white;
    font-size: 15px;
    margin-right: 15px;
    cursor: pointer;
}

.second-Existing{
    font-family: 'Montserrat', sans-serif;
    width:30%;
    height:40px;
    border-radius: 5px;
    border:none;
    background-color: grey;
    color:white;
    font-size: 15px;
    cursor: pointer;
}

@media screen and (max-width:1300px) {
    .SecondButton{
        margin-top: 450px;
    } 
}

@media screen and (max-width:1200px) {
    .SecondButton{
        margin-top: 250px;
    } 
}

@media screen and (max-width:1000px) {
    .SecondButton{
        display: flex;
        flex-direction: row;
        margin-top: 800px;
    } 

    .second-Existing,.second-customOrder{
        width: 100%;
    }
}

@media screen and (max-width:900px) {
    .SecondButton{
        display: flex;
        flex-direction: row;
        margin-top: 700px;
    } 

    .second-Existing,.second-customOrder{
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .SecondButton{
        display: flex;
        flex-direction: column;
        margin-top: 370px;
    }

    .second-Existing{
        width: 100%;
    }

    .second-customOrder{
        width: 100%;
        margin-right:0px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:500px) {
    .SecondButton{
        display: flex;
        flex-direction: column;
        margin-top: 470px;
    }

    .second-Existing{
        width: 100%;
    }

    .second-customOrder{
        margin-right:0px;
        margin-bottom: 10px;
        width: 100%;
    }
}

@media screen and (max-width:400px) {
    .SecondButton{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 300px;
    }

    .second-customOrder,.second-Existing{
        width:100%;
    }

}

@media screen and (max-width:300px) {
    .second-customOrder,.second-Existing{
        width:200px;
    }
}






