article{
    padding-top:100px;
    height: 100vh;
}

.cart-title > h1{
    padding-left: 10px;
    font-size: 40px;
}

.cart-products{
    width:100%;
    height: auto;
}

.cart-box{
    width:100%;
    display: flex;
    flex-direction: row;
    height: 300px;
    background-color: rgb(233, 229, 229);
    margin-top: 10px;
}

.cart-img{
    display: flex;
    flex-direction: row;
    height:150px;
    align-items: center;
    width: 20%;
    margin:auto 0px;
}

.cart-img > img{
    width:100%;
}

.price-change-button{
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
    width: 80%;
    padding-left: 30px;
}

.price-change-button > p{
    font-size: 40px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.price-change{
    display: flex;
    flex-direction: row;
    margin:20px 0px;
}

.Price-change{
    width: 40%;
}

.total-price{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.price-change-btn{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.price-change-btns{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    
}

.price-change-btns > :nth-child(2){
    margin:0px 10px;
}

.price-change-btns > button{
    width:10%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border:none;
    border-radius: 40px;
}

.remove-button{
    width:50%;
    padding-left: 30px;
}

.remove-button > :nth-child(1){
    font-size: 30px;
    height: 40px;
}

.total{
    width:40%;
    height: 40px;
    margin:10px auto;
    border-radius: 20px;
    border: 1px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 40px;
}

.total > span{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width:1300px) {
    .price-change-btn {
        width: 80%;
    }

    .Price-change {
        width: 15%;
    }

    .price-change-btns > button {
        width: 20%;
    }
}

@media screen and (max-width:900px),(max-width:1000px) {
    .price-change-btn {
        width: 100%;
    }

    .price-change-btns > button {
        width: 20%;
    }

    .total{
        width:80%;
    }
}

@media screen and (max-width:400px),(max-width:500px) {
    .cart-box{
        height: 200px;
    }

    .price-change-button{
        padding: 10px 15px;
    }
    .price-change-button > p {
        font-size: 17px;
    }

    .price-change {
        display: flex;
        flex-direction: column;
    }

    .price-change-btn {
        width: 100%;
        margin-top: 5px;
    }

    .price-change-btns{
        width:70%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .price-change-btns > button {
        width: 30%;
        font-size: 20px;
    }

    .remove-button {
        width: 30%;
        padding-left: 20px;
    }

    .total{
        width: 70%;
        text-align: center;
    }
    .total > span {
        font-size: 15px;
    }
}

@media screen and (max-width:300px) {
    .price-change-btns{
        width:80%;
    }

    .price-change-btns > button{
        font-size: 13px;
        font-weight: 600;
    }

    .total{
        width:90%;
    }
    .total > span {
        font-size: 13px;
    }
}

