.FirstButton{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 350px;
    /* margin-top: 80px; */
}

.customOrder{
    font-family: 'Montserrat', sans-serif;
    width:30%;
    height:40px;
    border-radius: 5px;
    border:none;
    background-color: black;
    color:white;
    font-size: 15px;
    margin-right: 15px;
    /* margin-top: 370px; */
    cursor: pointer;
    /* margin-bottom: 10px; */
}

.Existing{
    font-family: 'Montserrat', sans-serif;
    width:30%;
    height:40px;
    border-radius: 5px;
    border:none;
    background-color: grey;
    color:white;
    font-size: 15px;
    /* margin-right: 15px; */
    cursor: pointer;
}

/* @media screen and (max-width:500px) {
    .FirstButton{
        display: flex;
        flex-direction: column;
        margin-top: 470px;
    }

    .customOrder{
        margin-right:0px;
        margin-bottom: 10px;
    }
} */



/* @media screen and (max-width:600px) {
    .FirstButton{
        display: flex;
        flex-direction: column;
        margin: 0px;
    }
} */

@media screen and (max-width:1300px) {
    .FirstButton{
        /* display: flex; */
        margin-top: 450px;
    } 
}

@media screen and (max-width:1200px) {
    .FirstButton{
        /* display: flex; */
        margin-top: 250px;
    } 
}



@media screen and (max-width:1000px) {
    .FirstButton{
        /* display: flex; */
        margin-top: 800px;
    } 

    .Existing,.customOrder{
        width: 100%;
    }
}

@media screen and (max-width:900px) {
    .FirstButton{
        /* display: flex; */
        margin-top: 700px;
    } 

    .Existing,.customOrder{
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .FirstButton{
        display: flex;
        flex-direction: column;
        margin-top: 370px;
    }

    .Existing{
        width: 100%;
    }

    .customOrder{
        width: 100%;
        margin-right:0px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:500px) {
    .FirstButton{
        display: flex;
        flex-direction: column;
        margin-top: 470px;
    }

    .Existing{
        width: 100%;
    }

    .customOrder{
        margin-right:0px;
        margin-bottom: 10px;
        width: 100%;
    }
}

@media screen and (max-width:400px) {
    .FirstButton{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 300px;
    }

    .customOrder,.Existing{
        width:100%;
    }

}

@media screen and (max-width:300px) {
    .customOrder,.Existing{
        width:200px;
    }
}

/* @media screen and (max-width:390px) {
    .FirstButton{
        display: flex;
        flex-direction: column;
        margin-top: 500px;
    }
} */



