.Banner{
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/public/M3-Homepage-Desktop-LHD.jpg');
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
}

.banner-info{
    width:50%;
}

.banner-info> h1{
    font-family: 'Montserrat', sans-serif;
    color:black;
    margin-top:60px;
    font-size: 40px;
}

.banner-info > a{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color:black;

}

.arrow-down{
    margin-top: 20px;
}

@media screen and (max-width:1500px) {
    .banner-info{
        width:80%;
    }
}

@media screen and (max-width:900px), (max-width:1000px) {
    .Banner{
        background-image: url('/public/M3-Homepage-Mobile-LHD 600px.jpeg');
        width:100%;
        height: 100vh;
        background-size: 100% 100%;
        padding-bottom:100px;

    }
    .banner-info{
        width:80%;
    }
}  

@media screen and (max-width:600px) {
    .Banner{
        background-image: url('/public/M3-Homepage-Mobile-LHD 600px.jpeg');
        height: 100vh;
    }
    .banner-info{
        width:80%;
    }
}

@media screen and (max-width:400px),(max-width:500px) {
    .Banner{
        background-image: url('/public/M3-Homepage-Mobile-LHD.jpeg');
        height: 100vh;
    }
    .banner-info{
        width:80%;
        margin:0px;
    }
}

